html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background: url("/background.png") center / cover no-repeat fixed;
}
/* контейнер БЕЗ фону */
.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: transparent;
}

/* оверлей краще зробити через псевдоелемент */
main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: transparent;
}



main > * {
  position: relative;
  z-index: 1;
}